<header>
  <nav>
    <div id="logo">Project - Locals</div>
    <div>
      <a href="/community"><i class="fas fa-home"></i></a>
      <a href="/user"><i class="fas fa-user"></i></a>
    </div>
  </nav>
</header>
