{{> navmain }}
<div class="wrap-padding">
  <h2>Add a new post</h2>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <textarea name="posttext" id="posttext" cols="30" rows="10"></textarea>
    <input type="submit" value="Save">
  </form>
</div>