{{> navhome }}

<div class="wrap-padding">
  <h2>Welcome {{ user.username }}</h2>
  <a href="/user/detail">See Your details</a>
  <a href="/community/new-post">Make a post</a>
  <a href="/logout">Logout</a>
</div>

