/* general styles ----------------------------------------------------------- */
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #5b5e6d;
}

h1 {
  font-size: 2em;
}

h1, h2 {
  font-family: 'Source Serif Pro', serif;
  color: #2C303F;
}

img {
  border: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.wrap-padding {
  padding: 2rem 5%;
} 

.wrap-padding-lr {
  padding: 0 5%;
}

/* header styles ----------------------------------------------------------- */
header {
  padding: 2rem 5%;
}

header nav {
  display: flex;
  justify-content: flex-end;
  color: #5b5e6d; 
}

header nav a {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}


/* form styles ----------------------------------------------------------- */
#form {
  margin: 30px auto;
  width: 380px;
  border: 1px solid #cacaca;
  padding: 20px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.user-form-heading {
  text-align: center;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* .post-img {
  width: 25vw;
} */